<!DOCTYPE html>

    <head>
        <title>Place an Order</title>
    </head>

    <body>
        <h1>Place an Order</h1>
    
        <form action = "/orders" method = "post">
        <label>Name:</label>
        <br>
        <input type="text" name = "name">
        <br>
            <% @items.each do |item| %>
            <br>
                <input type = "checkbox" name = "items[]" value = "<%=item.id%>" id = <%=item.id%>><%=item.name%>, $<%=item.price%></input>
                <br>
            <% end %>
            <br>
            <input type = "submit" value = "Click here to place an order!">
        </form>
        
    </body>

</html>