<nav>
        <a href="/">Home</a>
        <br>
        <a href="/about">About</a>
        <br>
        <a href="/items/menu">Menu</a>
 </nav>

<h1>THANKS FOR SUBMITTING YOUR ORDER!</h1>
<h2> It will be ready in 30 minutes</h2>