<!DOCTYPE html>

    <head>
    <nav>
        <a href="/">Home</a>
        <br>
        <a href="/about">About</a>
    </nav>
    

        <title>Menu</title>
    </head>

    <body>
        <h1>Menu</h1>

        <% @items.each do |item| %>
            <ul> 
                <li><%=item.name%>, $<%=item.price%></li>
            </ul>
        <% end %>

        <form action = "/orders/new" method = "GET">
            <input type = "submit" value = "Click here to place an order!">
        </form>
    </body>

</html>