<!DOCTYPE html>
<nav>
    <a href="/">Home</a>
    <br>
    <a href="/items/menu">Menu</a>
</nav>
    <head>
        <title>About</title>
    </head>

    <body>
        <h1>Our restaurant was founded in 1892 and has had a wide reputation for being tasty. Please place an order through our menu!</h1>
    </body>

</html>