<!DOCTYPE html>

    <head>
        <title>Home</title>
    </head>

    <body>
        <h1>Ashley and Michelle's Restaurant<h1>
            
        <h2><a href="/about">About</a></h2>

        <h2><a href="/items/menu">Menu</a></h2>
    </body>

</html>